# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [15]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import ttest_rel, ttest_1samp, ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [8]:
# Your code here:

legendary = pokemon[pokemon['Legendary'] == True].count()[0]

non_legendary = pokemon[pokemon['Legendary'] == False].count()[0]

print(f'The number of legendary pokemon is {legendary} and the non legendary is {non_legendary}')

The number of legendary pokemon is 65 and the non legendary is 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [14]:
# Your code here:

legendary = pokemon[pokemon['Legendary'] == True]['Total']
non_legendary = pokemon[pokemon['Legendary'] == False]['Total']

mean_legendary, std_legendary = np.mean(legendary), np.std(legendary)
mean_non_legendary, std_non_legendary = np.mean(non_legendary), np.std(non_legendary)

print(f'The mean of legendary total power is {mean_legendary} and std is {std_legendary}')
print(f'The mean of non legendary total power is {mean_non_legendary} and std is {std_non_legendary}')

The mean of legendary total power is 637.3846153846154 and std is 60.46682302213779
The mean of non legendary total power is 417.21360544217686 and std is 106.68776660321979

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [18]:
# Your code here:

test = ttest_ind(legendary, non_legendary, equal_var=False)

The total points are different for legendary an non legendary

What do you conclude from this test? Write your conclusions below.

In [19]:
# Your conclusions here:

if test.pvalue/ 2 < 0.05:
    
    print('The total points are non the same for legendary an non legendary')
    
else:
    
    print('It is unknown if the total points are different for legendary an non legendary')

The total points are different for legendary an non legendary

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [22]:
# Your code here:

pokemon.groupby('Type 1').count().sort_values(by = '#', ascending = False)

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Water,112,112,53,112,112,112,112,112,112,112,112,112
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Flying,4,4,2,4,4,4,4,4,4,4,4,4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [8]:
# Your code here:

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [30]:
# Your code here:

water_pokemon_total_points = pokemon[pokemon['Type 1'] == 'Water']['Total'].mean()
non_water_pokemon_total_points = pokemon[pokemon['Type 1'] != 'Water']['Total'].mean()

test_water = ttest_ind(water_pokemon_total_points, non_water_pokemon_total_points, equal_var = True)

/home/ana/miniconda3/envs/ironhack_env/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3584: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)
/home/ana/miniconda3/envs/ironhack_env/lib/python3.7/site-packages/numpy/core/_methods.py:209: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Write your conclusion below.

In [31]:
# Your conclusions here:


if test_water.pvalue / 2 < 0.05:
    
    print('The total points are the same for water pokemon an non water')
    
else:
    
    print('It is unknown if the total points are different for water an non water')

It is unknown if the total points are different for water an non water

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [55]:
# Your code here:

attack_pokemon_total_points = pokemon['Attack']
defense_pokemon_total_points = pokemon['Defense']

test_defense_attack = ttest_rel(attack_pokemon_total_points, defense_pokemon_total_points)

Describe the results of the test in the cell below.

In [57]:
# Your conclusions here:

if test_defense_attack.pvalue / 2 < 0.05:
    
    print('The attack points are the same as defence points')
    
else:
    
    print('It is unknown if the attack points are different from defence points')

The attack points are the same as defence points

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [58]:
# Your code here:

attack_spc_pokemon_total_points = pokemon['Sp. Atk']
defense_spc_water_pokemon_total_points = pokemon['Sp. Def']

test_spc_defense_attack = ttest_rel(attack_spc_pokemon_total_points, defense_spc_water_pokemon_total_points)

Describe the results of the test in the cell below.

In [59]:
# Your conclusions here:

if test_spc_defense_attack.pvalue / 2 < 0.05:
    
    print('The special attack points are the same as special defence points')
    
else:
    
    print('It is unknown if the special attack points are different from special defence points')

It is unknown if the special attack points are different from special defence points

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [60]:
# Your code here:

mean = pokemon['Attack'] - pokemon['Defense']

test = ttest_1samp(mean, 0)

if test.pvalue / 2 < 0.05:
    
    print('The attack points are the same as defence points')
    
else:
    
    print('It is unknown if the attack points are different from defense points')

The attack points are the same as defence points

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: